<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <h1>Are you sure?</h1>
    <h2> Are you sure you want to delete the student {{obj.name}} ? All of the following related items will be deleted: </h2>
    
    <hr>

    <form action="/student/delete/{{obj.id}}/" method = 'POST'> {% csrf_token %}
        <button type = 'submit' class = 'btn btn-danger'> Yes , I'm Sure  </button> 
    </form> <br>
    <a href="/student/detail/{{obj.id}}/" class = 'btn btn-secondary'> No Take me back </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <hr>

</body>
</html>